name: cdxgen CI/CD

on:
  push:
    branches:
    - main

jobs:
  generate_and_modify_cyclonedx_sbom:
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      actions: read
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Node.js setup
        uses: actions/setup-node@v6.0.0
        with:
          node-version: latest

      - name: Install cdxgen
        run: npm install -g @cyclonedx/cdxgen

      - name: Install CycloneDX CLI
        run: |
          VERSION=0.29.1
          OS=linux  # win (for Windows) and osx (for macOS)
          ARCH=x64  # adjust if arm etc
          FILENAME=cyclonedx-${OS}-${ARCH}   # may have other extensions for MacOS or Windows
          wget https://github.com/CycloneDX/cyclonedx-cli/releases/download/v${VERSION}/${FILENAME}
          chmod +x ${FILENAME}
          sudo mv ${FILENAME} /usr/local/bin/cyclonedx
          cyclonedx --version

      - name: Generate cdxgen SBOM for all supported languages
        run: cdxgen -t universal -r -o cdxgen-sbom.json
      
      - name: Enrich cdxgen SBOM with Metadata
        run: cyclonedx add files --input-file cdxgen-sbom.json --output-file cdxgen-enriched.json --base-path . --include "*"

      - name: Generate Syft SBOM for languages not supported by cdxgen
        uses: anchore/sbom-action@v0.15.11
        with:
          path: .
          format: cyclonedx-json
          output-file: cyclonedx-syft-sbom.json
          upload-artifact: false

      - name: Convert Syft SBOM from CycloneDX 1.5 to CycloneDX 1.6
        run: cyclonedx convert --input-file cyclonedx-syft-sbom.json --output-file cyclonedx-syft-sbom-1.6.json --input-format json --output-format json --output-version v1_6

      - name: Enrich Syft SBOM with Metadata
        run: cyclonedx add files --input-file cyclonedx-syft-sbom-1.6.json --output-file syft-enriched.json --base-path . --include "*"

      - name: Scan for vulnerabilities in the Syft SBOM using Grype
        uses: anchore/scan-action@v6
        with:
          sbom: cyclonedx-syft-sbom-1.6.json
          severity-cutoff: critical
          output-format: sarif
          output-file: results-syft-sbom.sarif

      - name: Merge cdxgen and Syft SBOMs
        run: cyclonedx merge --input-files cdxgen-enriched.json syft-enriched.json --output-file merged-cyclonedx-sbom.json --input-format json --output-format json --output-version v1_6

      - name: Modify SBOM using script
        run: node scripts/modify-sbom.js

      - name: Upload cdxgen SBOM as an artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: json-sbom
          path: sbom-custom.json

      - name: Generate an RSA public/private key pair
        run: cyclonedx keygen --private-key-file sbom-private.key --public-key-file sbom-public.key   # defaults to private.key and public.key

      - name: Convert merged SBOM to XML for signing
        run: cyclonedx convert --input-file sbom-custom.json --output-file sbom-custom.xml --input-format json --output-format xml

      - name: Sign SBOM using CycloneDX CLI
        run: cyclonedx sign bom sbom-custom.xml --key-file sbom-private.key

      - name: Verify SBOM using CycloneDX CLI
        run: cyclonedx verify all sbom-custom.xml --key-file sbom-public.key

      - name: Upload cdxgen SBOM as an artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: cdxgen-sbom-signed
          path: sbom-custom.xml
